<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{header :: header}"></div>
</head>


<body>
<!-- navbar of bootstrap -->
<div th:replace="~{header :: nav_header}"></div>
<br>

<div class="container">
    <div class="row">
        <!-- support different devices" large device , medium device, small device, and align to center, card=add border -->
        <div class="col-md-6 col-sm-6 container justify-content-center card">
            <h3 class="text-center">Create New Student</h3>

            <div class="card-body">
                <!-- define action for this column -->
                <!-- to access the info object we are using th:object="${info}" -->

                <!-- add here  enctype="multipart/form-data" - for pictures -->
                <form method="post" th:action="@{/students}" th:object="${info}" enctype="multipart/form-data"
                      style="background-color:#FCEAEA">
                    <div th:replace="~{updateSaveFields :: input_fields}"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>