<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<!-- inorder to use thymeleaf th: we have to add in <html xmlns:th="https://www.thymeleaf.org"-->

<head>
<div th:replace="~{header :: header}"></div>
</head>

<body>
<!-- navbar of bootstrap -->
<div th:replace="~{header :: nav_header}"></div>
<!-- use container -->
<div class="container">
    <br>

    <!-- table head -->
    <!-- https://getbootstrap.com/docs/4.1/content/tables/ -->
    <table class="table table-striped table-bordered" data-th-background="reflect">
        <div class="row">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shadow1" style="height:40px;width:150px">
                        <a th:href="@{/students/new}" class="btn btn-primary btn-sm mb-3"
                           style="height:40px;width:150px" th:align="center">Add Student</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <!-- the table head -->
        <thead class>
        <tr style="background-color:powderblue;">
            <th scope="col">ID</th>
            <th scope="col">TIME</th>
            <th scope="col">IP</th>
            <th scope="col">VEHICLE_ID</th>
            <th scope="col">SPEED</th>
            <th scope="col">THROTTLE_POS</th>
            <th scope="col">ENGINE_RPM</th>
            <th scope="col">ENGINE_LOAD</th>
            <th scope="col">ENGINE_COOLANT_TEMP</th>
            <th scope="col">INTAKE_MANIFOLD_PRESSURE</th>
            <th scope="col">MAF</th>
            <th scope="col">FUEL_LEVEL</th>
            <th scope="col">FUEL_PRESSURE</th>
            <th scope="col">TIMING_ADVANCE</th>
            <th scope="col">TROUBLE_CODES</th>

            <th scope="Actions">Action</th>
        </tr>
        </thead>

        <!-- table body -->
        <tbody>
        <!-- display the table row dynamically -->
        <!-- take info from allStudents (this is defined in the controller class) -->
        <!-- Thymeleaf each attribute, to iterate in list of students -->
        <!-- ${} is for accessing a variable from the code -->
        <tr style="background-color:powderblue;" th:each="info: ${all_data}">

            <td th:text="${info.id}"></td>
            <td th:text="${info.time}"></td>
            <td th:text="${info.IP}"></td>
            <td th:text="${info.VEHICLE_ID}"></td>
            <td th:text="${info.SPEED}"></td>
            <td th:text="${info.THROTTLE_POS}"></td>
            <td th:text="${info.ENGINE_RPM}"></td>
            <td th:text="${info.ENGINE_LOAD}"></td>
            <td th:text="${info.ENGINE_COOLANT_TEMP}"></td>
            <td th:text="${info.INTAKE_MANIFOLD_PRESSURE}"></td>
            <td th:text="${info.MAF}"></td>
            <td th:text="${info.FUEL_LEVEL}"></td>
            <td th:text="${info.FUEL_PRESSURE}"></td>
            <td th:text="${info.TIMING_ADVANCE}"></td>
            <td th:text="${info.TROUBLE_CODES}"></td>


            <!-- Actions -->
            <td>
                <!-- update -->

                <div class="shadow" style="height:40px;width:80px">

                    <a th:href="@{students/edit/{id}(id=${info.id})}"
                       class="btn btn-primary" style="height:40px;width:80px">Update</a>
                </div>
                <br>
                <!-- delete -->
                <div th:replace="~{deleteItem :: delete}"></div>
            </td>
        </tr>


        </tbody>
    </table>

</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>