<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-body" th:fragment="input_fields">
    <!-- define action for this column -->
    <!-- to access the info object we are using th:object="${info}" -->
        <!-- design the form -->

        <div class="from-group">

            <th:block th:if="${new_student} == 'no'">
                <label>Student ID </label>
                <input
                        required
                        type="text"
                        name="id"
                        th:field="*{id}"
                        class="form-control"
                        readonly
                >
            </th:block>
        </div>

        <div class="from-group">
            <th:block th:if="${new_student} == 'yes'">
                <label>Student ID </label>
                <input
                        required
                        type="text"
                        name="id"
                        th:field="*{id}"
                        class="form-control"

                >
            </th:block>
        </div>

        <div class="from-group">
            <label>Student First Name </label>
            <input
                    required
                    type="text"
                    name="firstName"
                    th:field="*{firstName}"
                    class="form-control"
                    placeholder="Enter Student First Name"
            >
        </div>

        <div class="from-group">
            <label>Student Last Name </label>
            <input
                    required
                    type="text"
                    name="lastName"
                    th:field="*{lastName}"
                    class="form-control"
                    placeholder="Enter Student Last Name"
            >
        </div>

        <!-- input image file name -->
        <div class="form-group">
            <label class="col-form-label">Student Picture</label>
            <input type="file"
                   class="form-control-file"
                   name="multiPartFile"
                   placeholder="Enter Picture file name"
                   accept="image/png, image/jpeg"
            >
        </div>

        <div class="from-group">
            <label>Student Email </label>
            <input
                    required
                    type="email"
                    name="email"
                    th:field="*{email}"
                    class="form-control"
                    placeholder="Enter Student Email"
            >
        </div>

        <div class="from-group">
            <label>Student BirthDay </label>
            <input
                    required
                    type="date"
                    name="birthDay"
                    th:field="*{birthDay}"
                    class="form-control"
                    placeholder="Enter birthDay"
            >
        </div>

        <div class="from-group">
            <br>
            <label>Student Gender </label>
            <br>
            <input type="radio" name="gender" th:field="*{gender}" value="MALE">Male<br>
            <input type="radio" name="gender" th:field="*{gender}" value="FEMALE">Female<br>
            <input type="radio" name="gender" th:field="*{gender}" value="OTHER">Other<br>
            <br>
        </div>

        <!-- submit button -->
        <div class="box-footer">
            <div class="shadow" style="height:40px;width:80px">
                <button type="submit" class="btn btn-primary" style="height:40px;width:80px">
                    Submit
                </button>
            </div>
        </div>

</div>

</body>
</html>
