head {
}


body {
    background: blue url(../css_images/school.png);
// background-size: cover;
}



h1 {
    color: blue;
}

.btn-primary {
    height : 50px;
    width : 300px
}

.btn-danger {
    height : 50px;
    width : 300px
}

.shadow {
    box-shadow: 0 15px 16px -16px black;
}

.shadow1 {
    box-shadow: 0 15px 16px -16px yellow;
}